.table{
    margin-left: auto;
    margin-right:auto;
    
    
}
.table th{
    border: 1px solid black;
}
.table td{
    border: 1px solid black;
}

.red{
    background-color: #ffa792;
}
.skin{
   background-color:#fddfb5;
}
.dark-orange{
    background-color: #fecd82;
}
.yellow{
    background-color: #e4ec99;
}
.purple{
    background-color:#CBC3E3 ;
}
.green{
    background-color: #a5d5a8;
}
.pink{
    background-color: #ffced1;
}
.aqua{
    background-color: #b4e4fc;
}